body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #3e4b5b;
}
#staking-data {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.stake-item {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
}
.stake-item h2 {
    font-size: 1.5em;
}
.stake-item p {
    font-size: 1.1em;
}